In [36]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from copy import deepcopy

In [37]:
titanic = pd.read_csv('titanic/combi3.csv')

In [38]:
print(titanic.head())

  PassengerId  Pclass   LastName                                         Name  \
0           1     3.0     Braund                              Mr. Owen Harris
1           2     1.0    Cumings   Mrs. John Bradley (Florence Briggs Thayer)
2           3     3.0  Heikkinen                                  Miss. Laina
3           4     1.0   Futrelle           Mrs. Jacques Heath (Lily May Peel)
4           5     3.0      Allen                            Mr. William Henry

      Sex   Age  SibSp  Parch            Ticket       Fare Cabin Embarked  \
0    male  22.0    1.0    0.0         A/5 21171       7.25   NaN        S
1  female  38.0    1.0    0.0          PC 17599  712833.00   C85        C
2  female  26.0    0.0    0.0  STON/O2. 3101282    7925.00   NaN        S
3  female  35.0    1.0    0.0            113803      53.10  C123        S
4    male  35.0    0.0    0.0            373450       8.05   NaN        S

  Dataset  Survived  LeegPp CabinD CabinEO
0   train       0.0     1.0      U       u
1   train       1.0     0.0      C       o
2   train       1.0     1.0      U       u
3   train       1.0     0.0      C       o
4   train       0.0     1.0      U       u

In [39]:
def categorize_company(df):
    
    # 0 if alone, 1 if only with siblings/spouse, 2 if only with parent/children, 3 if with both (number of people is disregarded)
    conditions = [(df.Parch + df.SibSp == 0), (df.Parch == 0) & (df.SibSp > 0), (df.Parch > 0) & (df.SibSp ==0),
                  (df.Parch > 0) & (df.SibSp > 0)]
    categories = [0, 1, 2, 3]
    
    # create company attribute
    df["Company"] = np.select(conditions, categories)
    
    # count companions
    df["Companions"] = df.SibSp + df.Parch
    
    # create alone attribute (1 if alone, 0 if not)
    df["Alone"] = np.where(df.Parch + df.SibSp > 0, 0, 1)
        
categorize_company(titanic)

print(titanic.head())

  PassengerId  Pclass   LastName                                         Name  \
0           1     3.0     Braund                              Mr. Owen Harris
1           2     1.0    Cumings   Mrs. John Bradley (Florence Briggs Thayer)
2           3     3.0  Heikkinen                                  Miss. Laina
3           4     1.0   Futrelle           Mrs. Jacques Heath (Lily May Peel)
4           5     3.0      Allen                            Mr. William Henry

      Sex   Age  SibSp  Parch            Ticket       Fare Cabin Embarked  \
0    male  22.0    1.0    0.0         A/5 21171       7.25   NaN        S
1  female  38.0    1.0    0.0          PC 17599  712833.00   C85        C
2  female  26.0    0.0    0.0  STON/O2. 3101282    7925.00   NaN        S
3  female  35.0    1.0    0.0            113803      53.10  C123        S
4    male  35.0    0.0    0.0            373450       8.05   NaN        S

  Dataset  Survived  LeegPp CabinD CabinEO  Company  Companions  Alone
0   train       0.0     1.0      U       u        1         1.0      0
1   train       1.0     0.0      C       o        1         1.0      0
2   train       1.0     1.0      U       u        0         0.0      1
3   train       1.0     0.0      C       o        1         1.0      0
4   train       0.0     1.0      U       u        0         0.0      1

In [40]:
# subtract title from name

def format_name(df):
    
    # take prefix from remainder of name after last name has been split off
    df['NamePrefix'] = df.Name.apply(lambda x: str(x).split('.')[0].strip())
    
    # dictionary of all options to categories
    normalized_titles = {
    "Capt":       "Officer",
    "Col":        "Officer",
    "Major":      "Officer",
    "Jonkheer":   "Royalty",
    "Don":        "Royalty",
    "Sir" :       "Royalty",
    "Dr":         "Officer",
    "Rev":        "Officer",
    "the":        "Royalty",
    "Dona":       "Royalty",
    "Mme":        "Mrs",
    "Mlle":       "Miss",
    "Ms":         "Mrs",
    "Mr" :        "Mr",
    "Mrs" :       "Mrs",
    "Miss" :      "Miss",
    "Master" :    "Master",
    "Lady" :      "Royalty"
    }
    
    # assign title to each passenger
    df["NamePrefix"] = titanic.NamePrefix.map(normalized_titles)
    return df   


format_name(titanic)
# print(titanic.head())
print(titanic["NamePrefix"])

0            Mr
1           Mrs
2          Miss
3           Mrs
4            Mr
5            Mr
6            Mr
7        Master
8           Mrs
9           Mrs
10         Miss
11         Miss
12           Mr
13           Mr
14         Miss
15          Mrs
16       Master
17           Mr
18          Mrs
19          Mrs
20           Mr
21           Mr
22          NaN
23           Mr
24         Miss
25          Mrs
26           Mr
27           Mr
28          NaN
29           Mr
         ...
1279         Mr
1280     Master
1281         Mr
1282        Mrs
1283     Master
1284         Mr
1285         Mr
1286        Mrs
1287         Mr
1288        Mrs
1289         Mr
1290         Mr
1291       Miss
1292         Mr
1293       Miss
1294         Mr
1295         Mr
1296        NaN
1297         Mr
1298         Mr
1299        NaN
1300       Miss
1301       Miss
1302        Mrs
1303       Miss
1304         Mr
1305    Royalty
1306         Mr
1307         Mr
1308     Master
Name: NamePrefix, Length: 1309, dtype: object

In [41]:
# fill in missing ages based on age, title and class
def categorize_age(df):
    
    # get values of sex, class and title
    specAge = titanic.groupby(["Sex", "Pclass", "NamePrefix"])
    
    # determine the median age of each sex-class-title combinations
    specAge.Age.median()
    
    # fill in median age of sex-class-title combination when age data is missing
    titanic.Age = specAge.Age.apply(lambda x: x.fillna(x.median()))
    
    # group dataset in age categories
    bins = (0, 4, 12, 18, 25, 35, 60, 100)
    agename = ["0-4", "4-12", "12-18", "18-25", "25-35", "35-60", "60-100"]
    df["Agegroup"] = pd.cut(df.Age, bins, labels = agename)
    
categorize_age(titanic)
print(titanic.head())

  PassengerId  Pclass   LastName                                         Name  \
0           1     3.0     Braund                              Mr. Owen Harris
1           2     1.0    Cumings   Mrs. John Bradley (Florence Briggs Thayer)
2           3     3.0  Heikkinen                                  Miss. Laina
3           4     1.0   Futrelle           Mrs. Jacques Heath (Lily May Peel)
4           5     3.0      Allen                            Mr. William Henry

      Sex   Age  SibSp  Parch            Ticket       Fare    ...    Dataset  \
0    male  22.0    1.0    0.0         A/5 21171       7.25    ...      train
1  female  38.0    1.0    0.0          PC 17599  712833.00    ...      train
2  female  26.0    0.0    0.0  STON/O2. 3101282    7925.00    ...      train
3  female  35.0    1.0    0.0            113803      53.10    ...      train
4    male  35.0    0.0    0.0            373450       8.05    ...      train

  Survived LeegPp  CabinD  CabinEO Company Companions  Alone  NamePrefix  \
0      0.0    1.0       U        u       1        1.0      0          Mr
1      1.0    0.0       C        o       1        1.0      0         Mrs
2      1.0    1.0       U        u       0        0.0      1        Miss
3      1.0    0.0       C        o       1        1.0      0         Mrs
4      0.0    1.0       U        u       0        0.0      1          Mr

   Agegroup
0     18-25
1     35-60
2     25-35
3     25-35
4     25-35

[5 rows x 22 columns]

In [46]:
# delete unneccesary attributes
def drop_attributes(df):
    return df.drop(['Ticket', 'LastName', 'Name', 'Cabin', 'LeegPp'], axis=1)

drop_attributes(titanic)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Dataset,Survived,CabinD,CabinEO,Company,Companions,Alone,NamePrefix,Agegroup
0,1,3.0,male,22.00,1.0,0.0,7.25,S,train,0.0,U,u,1,1.0,0,Mr,18-25
1,2,1.0,female,38.00,1.0,0.0,712833.00,C,train,1.0,C,o,1,1.0,0,Mrs,35-60
2,3,3.0,female,26.00,0.0,0.0,7925.00,S,train,1.0,U,u,0,0.0,1,Miss,25-35
3,4,1.0,female,35.00,1.0,0.0,53.10,S,train,1.0,C,o,1,1.0,0,Mrs,25-35
4,5,3.0,male,35.00,0.0,0.0,8.05,S,train,0.0,U,u,0,0.0,1,Mr,25-35
5,6,3.0,male,26.00,0.0,0.0,84583.00,Q,train,0.0,U,u,0,0.0,1,Mr,25-35
6,7,1.0,male,54.00,0.0,0.0,518625.00,S,train,0.0,E,e,0,0.0,1,Mr,35-60
7,8,3.0,male,2.00,3.0,1.0,21075.00,S,train,0.0,U,u,3,4.0,0,Master,0-4
8,9,3.0,female,27.00,0.0,2.0,111333.00,S,train,1.0,U,u,2,2.0,0,Mrs,25-35
9,10,2.0,female,14.00,1.0,0.0,300708.00,C,train,1.0,U,u,1,1.0,0,Mrs,12-18
10,11,3.0,female,4.00,1.0,1.0,16.70,S,train,1.0,G,e,3,2.0,0,Miss,0-4
11,12,1.0,female,58.00,0.0,0.0,26.55,S,train,1.0,C,o,0,0.0,1,Miss,35-60
12,13,3.0,male,20.00,0.0,0.0,8.05,S,train,0.0,U,u,0,0.0,1,Mr,18-25
13,14,3.0,male,39.00,1.0,5.0,31275.00,S,train,0.0,U,u,3,6.0,0,Mr,35-60
14,15,3.0,female,14.00,0.0,0.0,78542.00,S,train,0.0,U,u,0,0.0,1,Miss,12-18
15,16,2.0,female,55.00,0.0,0.0,16.00,S,train,1.0,U,u,0,0.0,1,Mrs,35-60
16,17,3.0,male,2.00,4.0,1.0,29125.00,Q,train,0.0,U,u,3,5.0,0,Master,0-4
17,18,2.0,male,30.00,0.0,0.0,13.00,S,train,1.0,U,u,0,0.0,1,Mr,25-35
18,19,3.0,female,31.00,1.0,0.0,18.00,S,train,0.0,U,u,1,1.0,0,Mrs,25-35
19,20,3.0,female,31.00,0.0,0.0,7225.00,C,train,1.0,U,u,0,0.0,1,Mrs,25-35
20,21,2.0,male,35.00,0.0,0.0,26.00,S,train,0.0,U,u,0,0.0,1,Mr,25-35
21,22,2.0,male,34.00,0.0,0.0,13.00,S,train,1.0,D,e,0,0.0,1,Mr,25-35
22,"23,3,McGowan, Miss. Anna ""Annie"",female,15,0,0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,NaN,NaN
23,24,1.0,male,28.00,0.0,0.0,35.50,S,train,1.0,A,e,0,0.0,1,Mr,25-35
24,25,3.0,female,8.00,3.0,1.0,21075.00,S,train,0.0,U,u,3,4.0,0,Miss,4-12
25,26,3.0,female,38.00,1.0,5.0,313875.00,S,train,1.0,U,u,3,6.0,0,Mrs,35-60
26,27,3.0,male,26.00,0.0,0.0,7225.00,C,train,0.0,U,u,0,0.0,1,Mr,25-35
27,28,1.0,male,19.00,3.0,2.0,263.00,S,train,0.0,C,o,3,5.0,0,Mr,18-25
28,"29,3,O'Dwyer, Miss. Ellen ""Nellie"",female,,0,0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,NaN,NaN
29,30,3.0,male,26.00,0.0,0.0,78958.00,S,train,0.0,U,u,0,0.0,1,Mr,25-35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,1280,3.0,male,21.00,0.0,0.0,7.75,Q,test,NaN,U,u,0,0.0,1,Mr,18-25
1280,1281,3.0,male,6.00,3.0,1.0,21075.00,S,test,NaN,U,u,3,4.0,0,Master,4-12
1281,1282,1.0,male,23.00,0.0,0.0,93.50,S,test,NaN,B,e,0,0.0,1,Mr,18-25
1282,1283,1.0,female,51.00,0.0,1.0,39.40,S,test,NaN,D,e,2,1.0,0,Mrs,35-60
1283,1284,3.0,male,13.00,0.0,2.0,20.25,S,test,NaN,U,u,2,2.0,0,Master,12-18
1284,1285,2.0,male,47.00,0.0,0.0,10.50,S,test,NaN,U,u,0,0.0,1,Mr,35-60
1285,1286,3.0,male,29.00,3.0,1.0,22025.00,S,test,NaN,U,u,3,4.0,0,Mr,25-35
1286,1287,1.0,female,18.00,1.0,0.0,60.00,S,test,NaN,C,o,1,1.0,0,Mrs,12-18
1287,1288,3.0,male,24.00,0.0,0.0,7.25,Q,test,NaN,U,u,0,0.0,1,Mr,18-25
1288,1289,1.0,female,48.00,1.0,1.0,79.20,C,test,NaN,B,o,3,2.0,0,Mrs,35-60
1289,1290,3.0,male,22.00,0.0,0.0,7775.00,S,test,NaN,U,u,0,0.0,1,Mr,18-25
1290,1291,3.0,male,31.00,0.0,0.0,77333.00,Q,test,NaN,U,u,0,0.0,1,Mr,25-35
1291,1292,1.0,female,30.00,0.0,0.0,1648667.00,S,test,NaN,C,o,0,0.0,1,Miss,25-35
1292,1293,2.0,male,38.00,1.0,0.0,21.00,S,test,NaN,U,u,1,1.0,0,Mr,35-60
1293,1294,1.0,female,22.00,0.0,1.0,59.40,C,test,NaN,U,u,2,1.0,0,Miss,18-25
1294,1295,1.0,male,17.00,0.0,0.0,47.10,S,test,NaN,U,u,0,0.0,1,Mr,12-18
1295,1296,1.0,male,43.00,1.0,0.0,277208.00,C,test,NaN,D,e,1,1.0,0,Mr,35-60
1296,"1297,2,Nourney, Mr. Alfred (Baron von Drachste...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,NaN,NaN
1297,1298,2.0,male,23.00,1.0,0.0,10.50,S,test,NaN,U,u,1,1.0,0,Mr,18-25
1298,1299,1.0,male,50.00,1.0,1.0,211.50,C,test,NaN,C,e,3,2.0,0,Mr,35-60
1299,"1300,3,Riordan, Miss. Johanna Hannah"""",female,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,1,NaN,NaN
1300,1301,3.0,female,3.00,1.0,1.0,13775.00,S,test,NaN,U,u,3,2.0,0,Miss,0-4
1301,1302,3.0,female,18.75,0.0,0.0,7.75,Q,test,NaN,U,u,0,0.0,1,Miss,18-25
1302,1303,1.0,female,37.00,1.0,0.0,90.00,Q,test,NaN,C,e,1,1.0,0,Mrs,35-60
1303,1304,3.0,female,28.00,0.0,0.0,7775.00,S,test,NaN,U,u,0,0.0,1,Miss,25-35
1304,1305,3.0,male,26.00,0.0,0.0,8.05,S,test,NaN,U,u,0,0.0,1,Mr,25-35
1305,1306,1.0,female,39.00,0.0,0.0,108.90,C,test,NaN,C,o,0,0.0,1,Royalty,35-60
1306,1307,3.0,male,38.50,0.0,0.0,7.25,S,test,NaN,U,u,0,0.0,1,Mr,35-60
1307,1308,3.0,male,26.00,0.0,0.0,8.05,S,test,NaN,U,u,0,0.0,1,Mr,25-35
1308,1309,3.0,male,6.00,1.0,1.0,223583.00,C,test,NaN,U,u,3,2.0,0,Master,4-12

In [52]:
def split_sets(df):
    # select training part of dataset for rule making
    trainset = df.loc[df['Dataset'] == 'train']

    # select test part of dataset for later
    testset = df.loc[df['Dataset'] == 'test']
    
    return trainset, testset

newtrain, newtest = split_sets(titanic)[0], split_sets(titanic)[1]

# print(newtrain)
# print(newtest)

     PassengerId  Pclass          LastName  \
891          892     3.0             Kelly
892          893     3.0            Wilkes
893          894     2.0             Myles
894          895     3.0              Wirz
895          896     3.0          Hirvonen
896          897     3.0          Svensson
897          898     3.0          Connolly
898          899     2.0          Caldwell
899          900     3.0           Abrahim
900          901     3.0            Davies
901          902     3.0            Ilieff
902          903     1.0             Jones
903          904     1.0            Snyder
904          905     2.0            Howard
905          906     1.0           Chaffee
906          907     2.0         del Carlo
907          908     2.0             Keane
908          909     3.0             Assaf
909          910     3.0        Ilmakangas
911          912     1.0        Rothschild
912          913     3.0             Olsen
913          914     1.0        Flegenheim
914          915     1.0          Williams
915          916     1.0           Ryerson
916          917     3.0            Robins
917          918     1.0             Ostby
918          919     3.0             Daher
919          920     1.0             Brady
920          921     3.0            Samaan
921          922     2.0             Louch
...          ...     ...               ...
1277        1278     3.0          Aronsson
1278        1279     2.0             Ashby
1279        1280     3.0           Canavan
1280        1281     3.0           Palsson
1281        1282     1.0             Payne
1282        1283     1.0             Lines
1283        1284     3.0            Abbott
1284        1285     2.0           Gilbert
1285        1286     3.0     Kink-Heilmann
1286        1287     1.0             Smith
1287        1288     3.0           Colbert
1288        1289     1.0  Frolicher-Stehli
1289        1290     3.0  Larsson-Rondberg
1290        1291     3.0            Conlon
1291        1292     1.0           Bonnell
1292        1293     2.0              Gale
1293        1294     1.0            Gibson
1294        1295     1.0            Carrau
1295        1296     1.0        Frauenthal
1297        1298     2.0              Ware
1298        1299     1.0           Widener
1300        1301     3.0           Peacock
1301        1302     3.0          Naughton
1302        1303     1.0           Minahan
1303        1304     3.0        Henriksson
1304        1305     3.0           Spector
1305        1306     1.0     Oliva y Ocana
1306        1307     3.0           Saether
1307        1308     3.0              Ware
1308        1309     3.0             Peter

                                                 Name     Sex    Age  SibSp  \
891                                         Mr. James    male  34.50    0.0
892                          Mrs. James (Ellen Needs)  female  47.00    1.0
893                                Mr. Thomas Francis    male  62.00    0.0
894                                        Mr. Albert    male  27.00    0.0
895                Mrs. Alexander (Helga E Lindqvist)  female  22.00    1.0
896                                  Mr. Johan Cervin    male  14.00    0.0
897                                        Miss. Kate  female  30.00    0.0
898                                Mr. Albert Francis    male  26.00    1.0
899                  Mrs. Joseph (Sophie Halaut Easu)  female  18.00    0.0
900                                   Mr. John Samuel    male  21.00    2.0
901                                          Mr. Ylio    male  26.00    0.0
902                               Mr. Charles Cresson    male  46.00    0.0
903             Mrs. John Pillsbury (Nelle Stevenson)  female  23.00    1.0
904                                      Mr. Benjamin    male  63.00    1.0
905    Mrs. Herbert Fuller (Carrie Constance Toogood)  female  47.00    1.0
906                Mrs. Sebastiano (Argenia Genovesi)  female  24.00    1.0
907                                        Mr. Daniel    male  35.00    0.0
908                                        Mr. Gerios    male  21.00    0.0
909                                  Miss. Ida Livija  female  27.00    1.0
911                                        Mr. Martin    male  55.00    1.0
912                                Master. Artur Karl    male   9.00    0.0
913                          Mrs. Alfred (Antoinette)  female  45.00    0.0
914                             Mr. Richard Norris II    male  21.00    0.0
915            Mrs. Arthur Larned (Emily Maria Borie)  female  48.00    1.0
916                                   Mr. Alexander A    male  50.00    1.0
917                             Miss. Helene Ragnhild  female  22.00    0.0
918                                        Mr. Shedid    male  22.50    0.0
919                                  Mr. John Bertram    male  41.00    0.0
920                                         Mr. Elias    male  26.00    2.0
921                             Mr. Charles Alexander    male  50.00    1.0
...                                               ...     ...    ...    ...
1277                             Mr. Ernst Axel Algot    male  24.00    0.0
1278                                         Mr. John    male  57.00    0.0
1279                                      Mr. Patrick    male  21.00    0.0
1280                               Master. Paul Folke    male   6.00    3.0
1281                              Mr. Vivian Ponsonby    male  23.00    0.0
1282          Mrs. Ernest H (Elizabeth Lindsey James)  female  51.00    0.0
1283                            Master. Eugene Joseph    male  13.00    0.0
1284                                      Mr. William    male  47.00    0.0
1285                                        Mr. Anton    male  29.00    3.0
1286          Mrs. Lucien Philip (Mary Eloise Hughes)  female  18.00    1.0
1287                                      Mr. Patrick    male  24.00    0.0
1288    Mrs. Maxmillian (Margaretha Emerentia Stehli)  female  48.00    1.0
1289                                     Mr. Edvard A    male  22.00    0.0
1290                                 Mr. Thomas Henry    male  31.00    0.0
1291                                   Miss. Caroline  female  30.00    0.0
1292                                        Mr. Harry    male  38.00    1.0
1293                           Miss. Dorothy Winifred  female  22.00    0.0
1294                                   Mr. Jose Pedro    male  17.00    0.0
1295                                 Mr. Isaac Gerald    male  43.00    1.0
1297                              Mr. William Jeffery    male  23.00    1.0
1298                                Mr. George Dunton    male  50.00    1.0
1300                                 Miss. Treasteall  female   3.00    1.0
1301                                     Miss. Hannah  female  18.75    0.0
1302           Mrs. William Edward (Lillian E Thorpe)  female  37.00    1.0
1303                               Miss. Jenny Lovisa  female  28.00    0.0
1304                                        Mr. Woolf    male  26.00    0.0
1305                                    Dona. Fermina  female  39.00    0.0
1306                              Mr. Simon Sivertsen    male  38.50    0.0
1307                                    Mr. Frederick    male  26.00    0.0
1308                                Master. Michael J    male   6.00    1.0

      Parch              Ticket        Fare    ...    Dataset Survived LeegPp  \
891     0.0              330911    78292.00    ...       test      NaN    1.0
892     0.0              363272        7.00    ...       test      NaN    1.0
893     0.0              240276    96875.00    ...       test      NaN    1.0
894     0.0              315154    86625.00    ...       test      NaN    1.0
895     1.0             3101298   122875.00    ...       test      NaN    1.0
896     0.0                7538     9225.00    ...       test      NaN    1.0
897     0.0              330972    76292.00    ...       test      NaN    1.0
898     1.0              248738       29.00    ...       test      NaN    1.0
899     0.0                2657    72292.00    ...       test      NaN    1.0
900     0.0           A/4 48871       24.15    ...       test      NaN    1.0
901     0.0              349220    78958.00    ...       test      NaN    2.0
902     0.0                 694       26.00    ...       test      NaN    1.0
903     0.0               21228   822667.00    ...       test      NaN    0.0
904     0.0               24065       26.00    ...       test      NaN    1.0
905     0.0         W.E.P. 5734    61175.00    ...       test      NaN    0.0
906     0.0       SC/PARIS 2167   277208.00    ...       test      NaN    1.0
907     0.0              233734       12.35    ...       test      NaN    1.0
908     0.0                2692     7225.00    ...       test      NaN    1.0
909     0.0    STON/O2. 3101270     7925.00    ...       test      NaN    1.0
911     0.0            PC 17603       59.40    ...       test      NaN    1.0
912     1.0             C 17368    31708.00    ...       test      NaN    1.0
913     0.0            PC 17598   316833.00    ...       test      NaN    2.0
914     1.0            PC 17597   613792.00    ...       test      NaN    1.0
915     3.0            PC 17608   262375.00    ...       test      NaN    0.0
916     0.0           A/5. 3337       14.50    ...       test      NaN    1.0
917     1.0              113509   619792.00    ...       test      NaN    0.0
918     0.0                2698     7225.00    ...       test      NaN    1.0
919     0.0              113054       30.50    ...       test      NaN    0.0
920     0.0                2662   216792.00    ...       test      NaN    2.0
921     0.0          SC/AH 3085       26.00    ...       test      NaN    1.0
...     ...                 ...         ...    ...        ...      ...    ...
1277    0.0              349911     7775.00    ...       test      NaN    1.0
1278    0.0              244346       13.00    ...       test      NaN    1.0
1279    0.0              364858        7.75    ...       test      NaN    1.0
1280    1.0              349909    21075.00    ...       test      NaN    1.0
1281    0.0               12749       93.50    ...       test      NaN    0.0
1282    1.0            PC 17592       39.40    ...       test      NaN    0.0
1283    2.0           C.A. 2673       20.25    ...       test      NaN    1.0
1284    0.0          C.A. 30769       10.50    ...       test      NaN    1.0
1285    1.0              315153    22025.00    ...       test      NaN    1.0
1286    0.0               13695       60.00    ...       test      NaN    0.0
1287    0.0              371109        7.25    ...       test      NaN    1.0
1288    1.0               13567       79.20    ...       test      NaN    0.0
1289    0.0              347065     7775.00    ...       test      NaN    1.0
1290    0.0               21332    77333.00    ...       test      NaN    1.0
1291    0.0               36928  1648667.00    ...       test      NaN    0.0
1292    0.0               28664       21.00    ...       test      NaN    1.0
1293    1.0              112378       59.40    ...       test      NaN    1.0
1294    0.0              113059       47.10    ...       test      NaN    1.0
1295    0.0               17765   277208.00    ...       test      NaN    0.0
1297    0.0               28666       10.50    ...       test      NaN    1.0
1298    1.0              113503      211.50    ...       test      NaN    0.0
1300    1.0  SOTON/O.Q. 3101315    13775.00    ...       test      NaN    1.0
1301    0.0              365237        7.75    ...       test      NaN    2.0
1302    0.0               19928       90.00    ...       test      NaN    0.0
1303    0.0              347086     7775.00    ...       test      NaN    1.0
1304    0.0           A.5. 3236        8.05    ...       test      NaN    2.0
1305    0.0            PC 17758      108.90    ...       test      NaN    0.0
1306    0.0  SOTON/O.Q. 3101262        7.25    ...       test      NaN    1.0
1307    0.0              359309        8.05    ...       test      NaN    2.0
1308    1.0                2668   223583.00    ...       test      NaN    2.0

      CabinD  CabinEO Company Companions  Alone  NamePrefix  Agegroup
891        U        u       0        0.0      1          Mr     25-35
892        U        u       1        1.0      0         Mrs     35-60
893        U        u       0        0.0      1          Mr    60-100
894        U        u       0        0.0      1          Mr     25-35
895        U        u       3        2.0      0         Mrs     18-25
896        U        u       0        0.0      1          Mr     12-18
897        U        u       0        0.0      1        Miss     25-35
898        U        u       3        2.0      0          Mr     25-35
899        U        u       0        0.0      1         Mrs     12-18
900        U        u       1        2.0      0          Mr     18-25
901        U        u       0        0.0      1          Mr     25-35
902        U        u       0        0.0      1          Mr     35-60
903        B        o       1        1.0      0         Mrs     18-25
904        U        u       1        1.0      0          Mr    60-100
905        E        o       1        1.0      0         Mrs     35-60
906        U        u       1        1.0      0         Mrs     18-25
907        U        u       0        0.0      1          Mr     25-35
908        U        u       0        0.0      1          Mr     18-25
909        U        u       1        1.0      0        Miss     25-35
911        U        u       1        1.0      0          Mr     35-60
912        U        u       2        1.0      0      Master      4-12
913        U        u       0        0.0      1         Mrs     35-60
914        U        u       2        1.0      0          Mr     18-25
915        B        o       3        4.0      0         Mrs     35-60
916        U        u       1        1.0      0          Mr     35-60
917        B        e       2        1.0      0        Miss     18-25
918        U        u       0        0.0      1          Mr     18-25
919        A        o       0        0.0      1          Mr     35-60
920        U        u       1        2.0      0          Mr     25-35
921        U        u       1        1.0      0          Mr     35-60
...      ...      ...     ...        ...    ...         ...       ...
1277       U        u       0        0.0      1          Mr     18-25
1278       U        u       0        0.0      1          Mr     35-60
1279       U        u       0        0.0      1          Mr     18-25
1280       U        u       3        4.0      0      Master      4-12
1281       B        e       0        0.0      1          Mr     18-25
1282       D        e       2        1.0      0         Mrs     35-60
1283       U        u       2        2.0      0      Master     12-18
1284       U        u       0        0.0      1          Mr     35-60
1285       U        u       3        4.0      0          Mr     25-35
1286       C        o       1        1.0      0         Mrs     12-18
1287       U        u       0        0.0      1          Mr     18-25
1288       B        o       3        2.0      0         Mrs     35-60
1289       U        u       0        0.0      1          Mr     18-25
1290       U        u       0        0.0      1          Mr     25-35
1291       C        o       0        0.0      1        Miss     25-35
1292       U        u       1        1.0      0          Mr     35-60
1293       U        u       2        1.0      0        Miss     18-25
1294       U        u       0        0.0      1          Mr     12-18
1295       D        e       1        1.0      0          Mr     35-60
1297       U        u       1        1.0      0          Mr     18-25
1298       C        e       3        2.0      0          Mr     35-60
1300       U        u       3        2.0      0        Miss       0-4
1301       U        u       0        0.0      1        Miss     18-25
1302       C        e       1        1.0      0         Mrs     35-60
1303       U        u       0        0.0      1        Miss     25-35
1304       U        u       0        0.0      1          Mr     25-35
1305       C        o       0        0.0      1     Royalty     35-60
1306       U        u       0        0.0      1          Mr     35-60
1307       U        u       0        0.0      1          Mr     25-35
1308       U        u       3        2.0      0      Master      4-12

[396 rows x 22 columns]