In [1]:
import pandas as pd
import numpy as np
import re
import datetime

# 1. Read Data

In [2]:
data = pd.read_csv('ODI-2019-csv.csv', sep=';')

import matplotlib.pyplot as plt

plt.matshow(data.corr)
plt.show()

# 2. Pre-Process Data

In [3]:
# Copy data dataframe to adapt
data_processed = data.copy()

## 2.1 Normalize Programmes

In [4]:
data_processed[data_processed.columns[1]] = data_processed[data_processed.columns[1]].str.lower()
data_processed[data_processed.columns[1]] = data_processed[data_processed.columns[1]].str.strip()

In [5]:
replacement = {'artificial intelligence':['artificial intelligence master','ai','m ai','master ai','msc artificial intelligence','msc artificial intelligence: cognitive science','uva ai'],
               'bioinformatics and systems biology':['bioinf','bioinformatics','bioinformatics & systems biology','bioinformatics and biology systems','bioinformatics and systems biology master\'s','bioinformatics and system biology','bioinformatics and systems biology msc','boinformatics','biosb','m bioinformatics','master of bioinformatics and system biology','msc bioinformatic','msc bioinformatics & systems biology','msc bioinformatics'],
               'computational science':['cls','clsjd','computational science joint degree','masters compuational science','msc computational science'],
               'computer science':['computer science (joint degree)','computer science masters','cs','cs (exchange)','master computer science','computer science - internet and web technologies', 'computer science big data engineering master','mscs','msc computer science (big data engineering)'],
               'business administration/business analytics':['mba','ba','business analytics and data science','business analytics','business administration','digital business & innovation','dbi digital business and innovation','master digital business and innovation', 'business administration: digital business & innovation','business adminitration','digital business and innovation'],
               'information sciences':['information studies: data science (uva)','ma data science (uva)','information studies','ds','uva: information systems - data science','uva msc information studies: data science','uva master information studies, track data science'],
               'finance':['quantitative risk management','qrm','msc qrm (dhp)','master of finance','dhpqrm','duisenberg qrm'],
               'humanities research':['rm humanities: linguistics','ma language technology'],
               'econometrics and operations research':['operation research','eor','econometrics and operations research','econometrics','financial econometrics','financial econometrivs','master econometrics','master econometrics & or','masters eor'],
               'health sciences':['master health sciences'],
               'management, policy analysis and entrepeneurship in health and life sciences':['master management, policy analysis and entrepeneurship in health and life sciences'],
               'other':['ms','x','multiple programmes'],
               'sociology':['exchange student (sociology)'],
               'stochastics and financial mathematics':['maths, stochastics, master, uva']}

In [6]:
for key in replacement:
    data_processed[data_processed.columns[1]]=data_processed[data_processed.columns[1]].replace(to_replace = replacement[key], value = key)

data_programme = data_processed.groupby(data.columns[1])

data_programme.groups

## 2.2 Normalize Birthdates

In [7]:
data_processed[data_processed.columns[8]] = data_processed[data_processed.columns[8]].str.lower()
data_processed[data_processed.columns[8]] = data_processed[data_processed.columns[8]].str.strip()

row = data_processed[data_processed.columns[8]][12]
if any(month in row for month in months):
    print(row)

date = data_processed[data_processed.columns[8]][12]
month, x = monthfinder(date)
print(month)

import string
print(string.punctuation)
date = data_processed[data_processed.columns[8]][2]
re.sub(r"["+string.punctuation+"]+", ' ', date)

In [8]:
months = [(lambda x:datetime.date(1900, x, 1).strftime('%B'))(x) for x in range(13)[1:]]+([(lambda x:datetime.date(1900, x, 1).strftime('%b'))(x) for x in range(13)[1:]])
months = [x.lower() for x in months]

def monthfinder(date):
    for month in months:
        x = date.find(month)
        if x != -1:
            return month, x
    return None, None

In [9]:
def numericalsplit(date):
    #only day or month or year
    if len(date) <= 2:
        
        #only year
        if int(date) > 31:
            date = "//19" + date
            
        #assuming only month
        elif int(date) < 13:
            date = "/" + date + "/"
                
        #only day, contains no information
        else:
            date = "//" 
        
    #only day/month, month/year or year
    elif len(date) == 4:
        
        #only year
        if (int(date[:2]) == 19) & (int(date[2:4])>12):    
            date = "//" + date
        
        else:
            #assuming year/month
            if int(date[:2]) > 31:
                date = "/" + date[2:] + "/" + "19" + date[:2]
            
            #assuming month/year
            elif int(date[2:]) > 31:
                date = "/" + date[:2] + "/" + "19" + date[2:]
            
            #assuming month/day
            elif int(date[2:]) > 12:
                date = date[2:] + "/" + date[:2] + "/"
            
            #assuming day/month
            else:
                date = date[:2] + "/" + date[2:] + "/"
    
    #only day/month/year or month/year
    elif len(date) == 6:
        
        #assuming year/month
        if int(date[:2]) == 19 & (int(date[2:4])>12):
            date = "/" + date[4:] + "/" + date[:4]
        
        #assuming month/year
        elif int(date[2:4]) == 19 & (int(date[4:])>12):
            date = "/" + date[:2] + "/" + date[2:]
        
        #assuming month/day/year
        elif int(date[2:4]) > 12:
            date = date[2:4] + "/" + date[:2] + "/19" + date[4:]
        
        #assuming day/month/year
        else:
            date = date[:2] + "/" + date[2:4] + "/19" + date[4:]
    
    #day/month/year
    elif len(date) == 8:
        
        if (int(date[:2]) == 19) & (int(date[2:4])>12):
            
            #assuming year/month/day
            if int(date[6:]) > 12:
                date = date[6:] + "/" + date[4:6] + "/" + date[:4]
            
            #assuming year/day/month
            else:
                date = date[4:6] + "/" + date[6:] + "/" + date[:4]

        else:
            
            #assuming month/day/year
            if int(date[2:4]) > 12:
                date = date[2:4] + "/" + date[:2] + "/" + date[4:]
            
            #assuming day/month/year
            else:
                date = date[:2] + "/" + date[2:4] + "/" + date[4:]
    
    return date

In [10]:
def fixdate(date):
    datelist = date.split('/')
    
    datelist = list(filter(None, datelist))
    if len(datelist) == 0:
        date = "//"
        
    elif len(datelist) == 1:
        date = numericalsplit(datelist[0])

    elif len(datelist) == 2:
        
        # year/month
        if int(datelist[0]) > 31:

            # check if full year
            if len(datelist[0]) == 2:
                datelist[0] = "19" + datelist[0]
            
            date = "/".join(["",datelist[1],datelist[0]])
        
        # month/year
        elif int(datelist[1]) > 31:
            
            # check if full year
            if len(datelist[1]) == 2:
                datelist[1] = "19" + datelist[1]
                
            date = "/".join(["",datelist[0],datelist[1]])
            
        # month/day
        elif int(datelist[1]) > 12:
            date = "/".join([datelist[1],datelist[0],""])
        
        # day/month
        else:
            date = "/".join([datelist[0],datelist[1],""])
    
    else:

        if int(datelist[0]) > 31:

            # check if full year
            if len(datelist[0]) == 2:
                datelist[0] = "19" + datelist[0]

            # year/month/day
            if int(datelist[2]) > 12:
                date = "/".join([datelist[2],datelist[1],datelist[0]])
                
            # year/day/month
            else:
                date = "/".join([datelist[1],datelist[2],datelist[0]])

        # assuming never */year/*

        else:

            # check if full year
            if len(datelist[2]) == 2:
                datelist[2] = "19" + datelist[2]

            # month/day/year
            if int(datelist[1]) > 12:
                date = "/".join([datelist[1],datelist[0],datelist[2]])
            
            # day/month/year
            else:
                date = "/".join([datelist[0],datelist[1],datelist[2]])

    return date

In [11]:
def removesep(date, sep):
    datelist = []
    for x in date:
        if x == sep:
            pass
        else:
            datelist.append(x)
    date = "".join(datelist)
    return date

In [12]:
def replacesep(date):
    datelist = []
    for x in date:
        if not (x.isalpha() or x.isdigit()):
            datelist.append("/")
        else:
            datelist.append(x)
    date = "".join(datelist)
    date = re.sub('/+', '/', date)
    date = fixdate(date)
    return date

In [13]:
def replacemonth(date):
    month, x = monthfinder(date)
    while month != None:
        index = months.index(month)%12+1
        date = date.replace(month," " + str(index) + " ")
        month, x = monthfinder(date)
    if month == None:
        pass
    date = re.sub(' +', ' ', date)
    date = date.strip()
    return date

In [14]:
def removealpha(date):
    datelist = []
    for x in date:
        if x.isalpha():
            pass
        else:
            datelist.append(x)
    date = "".join(datelist)
    date = re.sub(' +', ' ', date)
    return date

In [15]:
dates = []
for date in data_processed[data_processed.columns[8]]:    
    date = removesep(date, "\'")
    
    if bool(re.match('^(?=.*/.*)',date)):
        date = replacesep(date)
    
    if removesep(date," ").isalpha():
        month, x = monthfinder(date)
        if month == None:                                    #contains no information
            date = "//"
        else:
            date = replacemonth(date)
            date = removealpha(date).strip()
            if date.isdigit():
                date = numericalsplit(date)
        
    else:
        date = replacemonth(date)
        date = removealpha(date)
        if date.isdigit():
            date = numericalsplit(date)
        else:
            date = replacesep(date)
    date = date.split('/')
    dates.append(date)

In [19]:
cols=['Birth Day','Birth Month','Birth Year']
data = pd.DataFrame(dates,columns=cols)
data = data.replace(r'', np.nan, regex=True)
data = data.astype('float64')
data.style.format({
    'A': '{:,f}'.format,
    'B': '{:,f}'.format,
})
#data.head(5)

In [20]:
pd.concat([data_processed,data],axis=1)

,Timestamp,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,Chocolate makes you.....,When is your birthday (date)?,Number of neighbors sitting around you?,Did you stand up?,"You can get 100 euros if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would deserve then?",Give a random number,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?,What is your stress level (0-100)?,Birth Day,Birth Month,Birth Year
0,3/27/2019 10:16:11,artificial intelligence,yes,1,mu,ja,unknown,slim,unknown,3,no,100,6,23:00,sun,lecture,NaN,NaN,NaN,NaN
1,4/1/2019 15:58:21,artificial intelligence,no,0,mu,ja,male,fat,09071992,1,no,0,7,3,DM,AI,1,9.0,7.0,1992.0
2,4/1/2019 15:59:07,computer science,yes,1,unknown,ja,male,neither,04/08/95,0,unknown,0,0,0,0,0,100,4.0,8.0,1995.0
3,4/1/2019 15:59:30,econometrics and operations research,yes,1,mu,ja,male,fat,29-09-1993,2,no,42,"1,645","0,3",Winning,Food,0,29.0,9.0,1993.0
4,4/1/2019 15:59:58,computer science,no,1,mu,ja,male,neither,0212,2,no,second,66,20,kiss,love,100,2.0,12.0,NaN
5,4/1/2019 16:00:01,artificial intelligence,yes,1,mu,ja,male,unknown,31-12-1994,0,yes,Barkie,420,0000,Ganja,Sun,100,31.0,12.0,1994.0
6,4/1/2019 16:00:12,bioinformatics and systems biology,yes,0,mu,nee,female,neither,09-10-1995,Many,no,100,739,22:00,chocolate,Sun,80,9.0,10.0,1995.0
7,4/1/2019 16:00:16,bioinformatics and systems biology,yes,1,mu,ja,male,I have no idea what you are talking about,22/07/1996,0,yes,Don't so much,5,"24,3",Stay with my friends,Sun,50,22.0,7.0,1996.0
8,4/1/2019 16:00:21,computational science,no,0,mu,ja,male,neither,30-02-1945,0,no,0,31,03:30,Done something useful,Had fun,0,30.0,2.0,1945.0
9,4/1/2019 16:00:31,artificial intelligence,yes,1,mu,nee,male,neither,22,Infinite,no,Above average,5,02:00,A sunny day,Relax walks,80,NaN,NaN,NaN
10,4/1/2019 16:00:52,bioinformatics and systems biology,yes,0,mu,nee,male,neither,10/06/1991,470,no,20,3851,11,sun,sleep,150,10.0,6.0,1991.0
11,4/1/2019 16:00:59,computational science,no,0,mu,nee,male,fat,19,3,no,"0,25",6,3,Sun,food,20,NaN,NaN,NaN
12,4/1/2019 16:00:59,artificial intelligence,yes,1,mu,nee,male,I have no idea what you are talking about,18 march 1994,3,no,100000000,7,0:40,Good sleep,Good breakfast,10,18.0,3.0,1994.0
13,4/1/2019 16:01:02,business administration/business analytics,yes,1,mu,ja,male,fat,02-08-1996,1,no,100,16,2330,Girls,Alcohol,16,2.0,8.0,1996.0
14,4/1/2019 16:01:03,business administration/business analytics,yes,1,mu,ja,male,fat,1 may,2,no,95,314.152,00:00,sun,food,50,1.0,5.0,NaN
15,4/1/2019 16:01:04,econometrics and operations research,yes,0,mu,nee,male,neither,1996,11,no,50,11,2:00,Work,Good sleep,10,NaN,NaN,1996.0
16,4/1/2019 16:01:04,econometrics and operations research,no,0,mu,nee,male,fat,03-03-1994,6,no,30,5,5 am,If i went to the gym,Healthy food,0,3.0,3.0,1994.0
17,4/1/2019 16:01:06,business administration/business analytics,yes,1,mu,ja,male,fat,17-05-1994,7,no,30,17,22,Sun,Football,17,17.0,5.0,1994.0
18,4/1/2019 16:01:09,bioinformatics and systems biology,yes,1,mu,ja,male,fat,08-28,3,yes,50,7,24:00,Sunshine,Good meals,40,28.0,8.0,NaN
19,4/1/2019 16:01:13,business administration/business analytics,yes,0,mu,ja,female,neither,27/12/1996,1,no,100,7,23:00,Sun,Good food,20,27.0,12.0,1996.0
20,4/1/2019 16:01:13,bioinformatics and systems biology,yes,0,mu,ja,female,fat,18-10-1996,2,no,100,2,21,Horses,Chocolate,12,18.0,10.0,1996.0
21,4/1/2019 16:01:13,artificial intelligence,no,1,mu,nee,female,slim,21-08-1995,A lot,no,100,6,01:03,Sun,Nice food,2,21.0,8.0,1995.0
22,4/1/2019 16:01:13,artificial intelligence,no,0,mu,ja,male,fat,"10th,june",4,no,0,888,18:00,good news,very good news,63,10.0,6.0,NaN
23,4/1/2019 16:01:14,artificial intelligence,yes,1,mu,ja,female,fat,09/08/1996,1,no,10,2,00:00,Sunshine,Nice food,0,9.0,8.0,1996.0
24,4/1/2019 16:01:15,artificial intelligence,yes,1,mu,ja,male,neither,24-02-1994,1,no,Barkie 20,0251656723,2:30 am,Sun,Relaxing,0,24.0,2.0,1994.0
25,4/1/2019 16:01:16,bioinformatics and systems biology,yes,0,mu,nee,male,neither,04/06,0,no,"0,01",17572857155648217566617584166,01:00,Sea,Weather,98,4.0,6.0,NaN
26,4/1/2019 16:01:16,artificial intelligence,yes,0,mu,ja,female,slim,01-01-1993,5,no,5,6,1 AM,Sunshine,Holiday,20,1.0,1.0,1993.0
27,4/1/2019 16:01:17,computational science,no,0,mu,nee,female,neither,29/03,1,no,"0,25",9,23:30,Sunshine,Vacation,10,29.0,3.0,NaN
28,4/1/2019 16:01:17,bioinformatics and systems biology,yes,1,mu,ja,female,slim,1996-11-06,2,no,100,579659987878648768,22:30,Tony chocolonely toffee pretzel donkere melk o...,Cuddling with dogs,3,11.0,6.0,1996.0
29,4/1/2019 16:01:17,business administration/business analytics,yes,0,mu,nee,male,I have no idea what you are talking about,11-08,2,no,50,9,22:00,Sun,Summer,5,11.0,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,4/1/2019 16:02:11,econometrics and operations research,no,0,mu,nee,male,fat,22+1/4.5*2/92,1,no,10,"3,14150692",23:10,Zonnige dag,F1 race,67,22.0,1.0,4.0
247,4/1/2019 16:02:12,artificial intelligence,yes,0,mu,nee,male,neither,19/10/1995,5,no,1,5,3:30,Sunshine,Productivity,5,19.0,10.0,1995.0
248,4/1/2019 16:02:11,humanities research,no,0,sigma,nee,female,neither,09-06-1989,2,no,17,9,2 am,favourite person,good sleep,55,9.0,6.0,1989.0
249,4/1/2019 16:02:12,computational science,unknown,0,sigma,ja,male,I have no idea what you are talking about,4 september 1995,2,no,1,491995,12,Warmth,.,90,4.0,9.0,1995.0
250,4/1/2019 16:02:13,computer science,no,1,mu,nee,male,I have no idea what you are talking about,10-08,3,no,€1,5,2 am,Good weather,Good grades,5,10.0,8.0,NaN
251,4/1/2019 16:02:14,artificial intelligence,yes,1,sigma,nee,male,neither,12-01-1995,0,no,99,1,12 pm,Day off,Pasta,0,12.0,1.0,1995.0
252,4/1/2019 16:02:14,computer science,no,1,unknown,ja,female,fat,10/5,3,no,100,5,4,no class,good weather,20,10.0,5.0,NaN
253,4/1/2019 16:02:15,computational science,yes,1,mu,ja,male,fat,july 1994,7,no,"4,7",5,01:30,Sunshine,Swimming,7,NaN,7.0,1994.0
254,4/1/2019 16:02:15,computer science,no,1,mu,ja,male,I have no idea what you are talking about,#,5,no,212.765.957.446.809,7,1am,Sun,Food,100000000000,NaN,NaN,NaN
255,4/1/2019 16:02:16,computer science,no,1,mu,ja,male,neither,21-09,6,no,20,7,"3,2",Sunny day of relaxation,Eating delicious food,10,21.0,9.0,NaN
256,4/1/2019 16:02:16,computational science,yes,0,mu,nee,male,slim,17/07/1996,2,no,77,7,1:45,No lecture,Time for sports,17,17.0,7.0,1996.0
257,4/1/2019 16:02:16,computer science,yes,1,mu,ja,female,fat,20.03.1996.,2,no,spare some coins,9,"it was actually today, 4am",good people,wine,10^3,20.0,3.0,1996.0
258,4/1/2019 16:02:18,artificial intelligence,yes,0,mu,nee,male,fat,0704,3,no,40,3,02:00,not Monday,yes,55,7.0,4.0,NaN
259,4/1/2019 16:02:20,computational science,yes,1,mu,nee,unknown,fat,27-03-1992,35,no,101,"9,99999",01:30,Time for: reading/music/training,Being with a loved one,30,27.0,3.0,1992.0
260,4/1/2019 16:02:21,bioinformatics and systems biology,yes,1,mu,ja,male,neither,1994,6,no,1,8,02:00,Sun,Food,10,NaN,NaN,1994.0
261,4/1/2019 16:02:24,computer science,yes,1,mu,ja,female,I have no idea what you are talking about,20.02.1996,7,no,50,8,Today at 3am,Beer,Petting dog (preferably more than one),100,20.0,2.0,1996.0
262,4/1/2019 16:02:23,computational science,no,0,mu,nee,male,neither,14-04-1996,8,no,1,5,22,Goud,Music,200,14.0,4.0,1996.0
263,4/1/2019 16:02:24,computer science,yes,1,mu,ja,male,neither,september 16,3,no,3,3,2am,Sun,Football game,15,16.0,9.0,NaN
264,4/1/2019 16:02:25,business administration/business analytics,yes,1,mu,nee,male,fat,25-03,2,no,1,8,~1100 pm,Much sleep,Winning,10,25.0,3.0,NaN
265,4/1/2019 16:02:25,artificial intelligence,yes,1,sigma,ja,male,I have no idea what you are talking about,25/07/1994,1,no,0,832795585298,3:00am,A nice hike,A lot of interesting work done,15,25.0,7.0,1994.0
266,4/1/2019 16:02:29,computer science,no,0,sigma,ja,male,slim,1-1-2030,77,no,some money would be nice,7,0,Football,Mo Money,200,1.0,1.0,2030.0
267,4/1/2019 16:02:39,business administration/business analytics,yes,0,mu,nee,male,fat,04/09/1994,10,no,"0,5",3,1 AM,Temperature,Free time,50,4.0,9.0,1994.0
268,4/1/2019 16:02:40,computational science,no,0,mu,nee,male,fat,14-04-1993,9,no,"0,25","8,8888",23:56,Nice company,New experiences,34,14.0,4.0,1993.0
269,4/1/2019 16:02:44,computational science,no,0,mu,nee,female,I have no idea what you are talking about,08-04,5,no,"0,25",3,23:30,Having friends around,Laughing,60,8.0,4.0,NaN
270,4/1/2019 16:02:45,business administration/business analytics,yes,1,mu,ja,male,fat,09041996,"9,3",no,10,7,23:00,Good data mining grade,pizza,60,9.0,4.0,1996.0
271,4/1/2019 16:02:55,business administration/business analytics,yes,0,mu,ja,male,slim,first of october,four (4),unknown,"0,1",sqrt (-1),10 o clock,Good coffee,Italian vineyards,"99,9",NaN,10.0,NaN
272,4/1/2019 16:02:56,computer science,no,0,mu,ja,male,fat,21/10/1995,80,no,100,10,2:00,Arsenal wins,Sports,0,21.0,10.0,1995.0
273,4/1/2019 16:03:51,artificial intelligence,no,1,sigma,ja,male,fat,20-11-1990,k,yes,100/no. students,42,02:00,eating chocolate,not being fat,80,20.0,11.0,1990.0
274,4/1/2019 16:31:16,psychology,no,unknown,sigma,nee,unknown,slim,14/7/1998,50,unknown,100,79,1:30,Chocolate,Poepen,98,14.0,7.0,1998.0
275,4/1/2019 16:53:39,artificial intelligence,yes,1,mu,ja,female,neither,25-11-1994,5,no,100,5,00:30,Sunshine,Coffee,55,25.0,11.0,1994.0

## 2.3 Normalize Neighbors

In [21]:
def removenonnum(number):
    numlist = []
    for x in number:
        if not x.isdigit():
            if bool(re.match('^(?=.*,.*)',x)):
                numlist.append(x)
            else:
                pass
        else:
            numlist.append(x)
    number = "".join(numlist)
    number = re.sub(' +', ' ', number)
    return number

In [22]:
for index, row in data_processed.iterrows():
    neighbors = removenonnum(row[9])
    data_processed.iloc[index][9] = neighbors

data_processed[data_processed.columns[9]] = data_processed[data_processed.columns[9]].replace(r'', np.nan, regex=True)

data_neighbors = data_processed.groupby(data_processed.columns[9])

data_neighbors.groups

## 2.4 Normalize DM Competition

In [25]:
for index, row in data_processed.iterrows():
    competition = removenonnum(row[11])
    data_processed.iloc[index][11] = competition

data_processed[data_processed.columns[9]] = data_processed[data_processed.columns[9]].replace(r'', np.nan, regex=True)

data_competition = data_processed.groupby(data_processed.columns[11])

data_competition.groups

# 3. Save Pre-Processed Data

In [28]:
data_processed.to_csv('ODI-2019-processed.csv', header=True, index=False)